<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('partials/header'); %>
</header>

<main>
  <div class="row">
    <div class="col-sm-8">
      <div class="jumbotron">
          <h1>Charlization</h1>
          <p>
            Charlization is an anvironment for developing and testing browser based multiplayer games.
          </p>
          <p>
            The website app (port 3000) was created as a stepping stone for the Civ 2 clone (port 4000).  
            The goal is not to recreate Civ 2 but instead to learn about development generally through reverse engineering the appearance and functionality.
          </p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="well">
        <h3></h3>
      </div>
    </div>
  </div>
</main>

<footer>
  <%- include('partials/footer'); %>
</footer>

</body>
</html>