<!DOCTYPE html>

<canvas id="canvas" width="1600" height="900"></canvas>

<script>

	class Game {
		constructor(localPlayer) {
			this.localPlayer = localPlayer
		}
	}
	
	class Board {
		constructor(x, y) {
			this.size = {x: x, y: y}
			this.tiles = []
			this.buildMap()
		}

		buildMap() {
			for (let i = 0; i < this.size.x; i++) {
				let column = []
				for (let j = 0; j < this.size.y; j++) {
					column.push(new Tile(i, j) )
				}
				this.tiles.push(column)
			}
		}

		/// long term this will probably move somewhere else
		setPlayersInitialLocations(player) {
			let x = Math.floor(Math.random() * this.size.x)
			let y = Math.floor(Math.random() * this.size.y)
			let tile = this.tiles[x][y]
			tile.unit = new Unit(player, {x, y})
		}
		///////////////////////////////////////////////////
	}

	class Tile {
		constructor(x, y) {
			this.terrain = this.generateTerrain()
			this.unit = ""
			this.coordinates = {x: x, y: y}
		}

		generateTerrain() {
			let terrainTypes = Object.keys(Tile.TERRAIN_TYPES)
			return terrainTypes[Math.floor(Math.random() * terrainTypes.length)]
		}

		addUnit(unit) {
			this.unit = unit
		}

		removeUnit(unit) {
			this.unit = ""
		}

		static TERRAIN_TYPES = {
			"grassland": { color: "lightgreen" },
			"plains": { color: "orange" },
			"forest": { color: "darkgreen" },
			"desert": { color: "beige" },
			"hill": { color: "lightgrey" },
			"mountain": { color: "grey" },
			"ocean": { color: "blue" }
		}

	}

	class Unit {
		constructor(player, coordinates) {
			this.player = player
			this.color = this.player.color
			this.coordinates = coordinates
			this.selectable = true
			//this.selected = false
		}
	}

	class Canvas {
		constructor(canvasID, board) {
			this.canvas = document.getElementById(canvasID)
			this.ctx = canvas.getContext("2d")
			this.board = board
		}

		static TILE_SIZE = 100

		paintTile(tile) {
			let x = tile.coordinates.x
			let y = tile.coordinates.y
			let width = Canvas.TILE_SIZE
			let height = Canvas.TILE_SIZE
			this.ctx.fillRect(x*Canvas.TILE_SIZE, y*Canvas.TILE_SIZE, width, height)
		}

		determineColor(tile) {
			if (tile.unit) {
				this.ctx.fillStyle = tile.unit.color
			} else {
				this.ctx.fillStyle = Tile.TERRAIN_TYPES[tile.terrain].color
			}
		}

		drawMap() {
			this.board.tiles.forEach( (columnOfTiles, i) => {																									// for each x row with index i
				columnOfTiles.forEach( (tile, j) => {																													// for each y tile with index j in x row
				this.determineColor(tile)
	  			this.paintTile(tile)			// paint tile with color
				})
			})
		}
	}

	class Player {
		constructor(username, color) {
			this.username = username
			this.color = color
			this.selectedUnit = ""
			this.selectedLocation = ""
		}

		joinGame() {
			// tbd
		}

		selectUnit(tile) {
			if (tile.unit.selectable) {
				this.selectedUnit = tile.unit
			}	else {
				this.selectedUnit = undefined
			}
		}

		selectTile(tile) {
			this.selectedTile = tile
		}


	}

	localPlayer = new Player("sdub", "red")
	game = new Game(localPlayer)
	canvas = new Canvas(canvasID = "canvas", new Board(x = 10, y = 10) )
	canvas.board.setPlayersInitialLocations(localPlayer) // temporary
	canvas.drawMap()

	//const canvas = document.getElementById("canvas")
	//const ctx = canvas.getContext("2d")
	console.log(canvas)
	//console.log(canvas.ctx)
	//console.log(canvas.board)

	let lastTime = Date.now()
	animate()

	canvas.canvas.addEventListener("click", (event) => {
		const rect = canvas.canvas.getBoundingClientRect();
    	let x = Math.floor((event.x - rect.left) / Canvas.TILE_SIZE);
    	let y = Math.floor((event.y - rect.top) / Canvas.TILE_SIZE);
		determineClickTarget(tile = canvas.board.tiles[x][y])

		//console.log(Date.now())
		//console.log(lastTime)
		//console.log(Date.now() - lastTime)
	})

	function determineClickTarget(tile) {
		// change later
		game.localPlayer.selectTile(tile)
		game.localPlayer.selectUnit(tile)
	}

	///////

	document.addEventListener("keydown", (e) => {
		console.log(e)
	  if (!e.repeat) {
	    console.log(`Key "${e.key}" pressed [event: keydown]`);
	    if (game.localPlayer.selectedUnit) {
	    	let command = keydownCommand(e.key)
	    	if (command.type === "move") {
	    		moveUnit(command.direction)
	    		//canvas.drawMap()
	    	}
	    }
	  } else {
	    console.log(`Key "${e.key}" repeating [event: keydown]`);
		}
	});

	document.addEventListener("beforeinput", (e) => {
	  console.log(`Key "${e.data}" about to be input [event: beforeinput]`);
	});

	document.addEventListener("input", (e) => {
	  console.log(`Key "${e.data}" input [event: input]`);
	});

	document.addEventListener("keyup", (e) => {
	  console.log(`Key "${e.key}" released [event: keyup]`);
	});

	///////

	function keydownCommand(key) {
		if (key === "ArrowUp") { return { type: "move", direction: { x: 0, y: -1 } } }
		if (key === "ArrowDown") { return { type: "move", direction: { x: 0, y: 1 } } }
		if (key === "ArrowLeft") { return { type: "move", direction: { x: -1, y: 0 } } }
		if (key === "ArrowRight") { return { type: "move", direction: { x: 1, y: 0 } } }
	}

	function moveUnit(direction) {
		let currentTile = game.localPlayer.selectedTile
		let x = currentTile.coordinates.x
		let y = currentTile.coordinates.y
		let dx = direction.x
		let dy = direction.y
		let destinationTile = canvas.board.tiles[x+dx][y+dy]
		
		currentTile.removeUnit(game.localPlayer.selectedUnit)
		destinationTile.addUnit(game.localPlayer.selectedUnit)

		//canvas.paintTile(currentTile)
		//canvas.paintTile[destinationTile]
		localPlayer.selectedUnit.coordinates = destinationTile.coordinates
		localPlayer.selectTile(destinationTile)

		canvas.drawMap()
	}

	function animate() {
		window.requestAnimationFrame(animate)
		if ( (Date.now() - lastTime) < 1000 ) { return }
		//console.log(Date.now() - lastTime)
		if (game.localPlayer.selectedUnit) {blinkSelectedUnit(game.localPlayer.selectedUnit)}
		lastTime = Date.now()
	}
	//window.requestAnimationFrame(animate)

	let blink = 0
	function blinkSelectedUnit(target) {
		blink++
		let tile = canvas.board.tiles[target.coordinates.x][target.coordinates.y]
		if (blink % 2 === 0) {canvas.ctx.fillStyle = target.color} else {canvas.ctx.fillStyle = Tile.TERRAIN_TYPES[tile.terrain].color}
		canvas.paintTile(tile)
	}

</script>

</html>