<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>My Games</h1>
    <ul>
      <% games.forEach(function(game) { %>
        <li>
          <strong><%= game.gameName %></strong>
        </li>
      <% }); %>
    </ul>
  </div>
  <a href="/games/new">Create New Game</a>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>