<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Create New Game</h1>
      <!-- messages accessible due to flash dependency -->
      <% if (messages.error) { %>
        <%= messages.error %>
      <% } %>
      <form action="new" method="POST">
        <div>
          <label for="gameName">Game Name</label>
          <input type="text" id="gameName" name="gameName" required>
        </div>
        <button type="submit">Create New Game</button>
      </form>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>